* {
    margin: 0;
    padding: 0;
  }
  /* Start of text animation */
.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000; 
}
.txt {
    color: #ffffff;
    background:#000000;
    font-size:20vh;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
    top: 30%;
    left: 50%;
}
.neon wrapper {
    display: inline-flex;
}
.txt::before {
    content: 'hey';
    position: absolute;
    mix-blend-mode: difference;
}
.txt::before {
    content: 'Kalaa';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}
.neon-wrapper {
    display:inline-flex;
    filter: brightness(200%);
}
.gradient{
    background: linear-gradient(114.5793141156962deg, rgba(6, 227, 250,1) 4.927083333333334%,rgba(229, 151, 64,1) 97.84374999999999%);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
}
.gradient{
    background: linear-gradient(114.5793141156962deg, rgba(6, 227, 250,1) 4.927083333333334%,rgba(229, 151, 64,1) 97.84374999999999%);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    mix-blend-mode: multiply;
}
.dodge {
    background: radial-gradient(circle,white,black 35%) center / 25% 25%;
    position: absolute;
    top:-100%;
    left:-100%;
    right:0;
    bottom:0;
}
.dodge {
    background: radial-gradient(circle,white,black 35%) center / 25% 25%;
    position: absolute;
    top:-100%;
    left:-100%;
    right:0;
    bottom:0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
}
.neon-wrapper {
    display:inline-flex;
    filter: brightness(200%);
    overflow: hidden;
}
/* End Of Text animation */

/* Start of Button Design */
a{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 15vw;
    height: 9vh;
    text-align: center;
    line-height: 60px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-transform: uppercase;
    text-decoration:none ;
    font-family: Arial;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ecd500, #03a9f4); 
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
   
}
a:hover{
    animation: animate 7s linear infinite;
    
}
@keyframes animate{
    0%{
        background-position:0% ;
    }
    100%{
        background-position:400% ;
    }

}
a:before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5,#ff8f10, #03a9f4); 
    background-size: 400%;
    border-radius: 40px;
    filter: blur(5px);
    /* opacity: 0; */
    transition: 0.5s;

}
a:hover:before{
    filter: blur(10px);
    animation: animate 5s linear infinite;
}


/* End of button design */
